<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Forgot Password Page</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700" />
    <link href="../../Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/Css/oneui.css" rel="stylesheet" />
    <link href="../../Content/dxCss/dx.spa.css" rel="stylesheet" />
    <link href="../../Content/dxCss/dx.common.css" rel="stylesheet" />
    <link href="../../Content/dxCss/dx.light.css" rel="stylesheet" />

</head>
<body data-ng-app="ExGSP" ng-controller="CtrForgotPassword">
    <div class="content overflow-hidden" style="padding:0;">
        <div class="row login-panel">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 loginvht">
                <!-- Login Block -->
                <div class="block block-themed animated fadeIn">
                    <div class="block-header bg-primary">
                            <ul class="block-options">
                                <li>
                                    <a href="../../Login.html" data-toggle="tooltip" data-placement="left" title="Log In"><i class="si si-login"></i></a>
                                </li>
                            </ul>
                            <h3 class="block-title">Password Reminder</h3>
                        </div>
                    <div class="block-content block-content-full block-content-narrow">
                        <!-- Login Title -->
                        <h1 class="h2 font-w600 push-30-t push-5">Excellon GST</h1>
                        <p>Please provide your account’s email and we will send you your password.</p>
                        <!-- END Login Title -->

                        <!-- Login Form -->
                        <!-- jQuery Validation (.js-validation-login class is initialized in js/pages/base_pages_login.js) -->
                        <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                        <div class="js-validation-login form-horizontal push-30-t push-50">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div id="ForgotPasswordForm" dx-form="formOptions"></div>
                                </div>
                            </div>
                        </div>
                        <!-- END Login Form -->
                    </div>
                </div>
                <!-- END Login Block -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../Scripts/Lib/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../../Scripts/Lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/Lib/angular.min.js"></script>
    <script type="text/javascript" src="../../Scripts/Lib/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="../../Scripts/dxLib/dx.web.js"></script>
    <!-- Controllers refrences start-->
    
    <script type="text/javascript" src="../../Scripts/Ctrs/Admin/CtrForgotPassword.js"></script>
    <script type="text/javascript" src="../../Scripts/App/App.Common.js"></script>
    <script type="text/javascript" src="../../Scripts/App/App.Config.js"></script>
    <script type="text/javascript" src="../../Scripts/App/App.ServiceHelper.js"></script>
    <script type="text/javascript" src="../../Scripts/App/App.Stores.js"></script>
     <script>
         $(document).ready(function () {
             $('[data-toggle="tooltip"]').tooltip();
         });
</script>
</body>
</html>
