<div>
<div class="pull-left pageTitle">My Account</div>
</div>
<div style="clear:both"></div>
<div class="dx-viewport" ng-controller="CtrMyAccount">
    <div class="demo-container">
        <div class="longTitle">
            <h3></h3>
        </div>
        <div id="form-container">
            <div id="form" dx-form="formOptions">
                <div data-options="dxTemplate: { name: 'MyAccTemplate' }">
                    <div class="row">
                        <div class="col-sm-12">
                        <fieldset>
                                <legend class="CustomLegend">
                                    <label><span class="dx-form-group-caption">My Account</span></label>
                                    <br />
                                    <br />
                                </legend>
                            </fieldset>
                            </div>
                        

                     
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






