<div class="col-sm-12 summaries">
    <div class="col-sm-4" style="padding-left: 0;">

        <div class="col-sm-12" style="padding: 0;">
            <fieldset>
                <legend class="CustomLegend" style="height: 32px; margin-bottom: 0">
                    <label><span class="dx-form-group-caption" style="color: #fff; font-size: 20px; font-weight: normal">Status</span></label>
                    <br />
                    <br />
                </legend>
            </fieldset>
            <table class="table" style="color: #fff; margin-bottom: 0">
                <tr>
                    <td style="border-top: 0; padding: 2px; white-space: nowrap;">Matched</td>
                    <td style="border-top: 0; padding: 2px; padding-right: 15px; text-align: right">1200</td>
                    <td style="border-top: 0; padding: 2px">Additional</td>
                    <td style="border-top: 0; padding: 2px; text-align: right">400</td>

                </tr>
                <tr>
                    <td style="border-top: 0; padding: 2px">Unmatched</td>
                    <td style="border-top: 0; padding: 2px; padding-right: 15px; text-align: right">1200</td>
                    <td style="border-top: 0; padding: 2px;">&nbsp;</td>
                    <td style="border-top: 0; padding: 2px; text-align: right">&nbsp;</td>
                </tr>
            </table>

        </div>
    </div>
    <div class="col-sm-4">

        <div class="col-sm-12" style="padding: 0;">
            <fieldset>
                <legend class="CustomLegend" style="height: 32px; margin-bottom: 0">
                    <label><span class="dx-form-group-caption" style="color: #fff; font-size: 20px; font-weight: normal">Tax Summary</span></label>
                    <br />
                    <br />
                </legend>
            </fieldset>
            <table class="table" style="color: #fff; margin-bottom: 0">
                <tr>
                    <td style="border-top: 0; padding: 2px; white-space: nowrap;">Taxable Value</td>
                    <td style="border-top: 0; padding: 2px; padding-right: 15px; text-align: right">100000</td>
                    <td style="border-top: 0; padding: 2px">CGST</td>
                    <td style="border-top: 0; padding: 2px; text-align: right">3000</td>

                </tr>
                <tr>
                    <td style="border-top: 0; padding: 2px">IGST</td>
                    <td style="border-top: 0; padding: 2px; padding-right: 15px; text-align: right">15000</td>
                    <td style="border-top: 0; padding: 2px;">SGST</td>
                    <td style="border-top: 0; padding: 2px; text-align: right">12000</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="col-sm-4" style="padding-right: 0;">
        <div class="col-sm-12" style="padding: 0;">
            <fieldset>
                <legend class="CustomLegend" style="height: 32px; margin-bottom: 0">
                    <label><span class="dx-form-group-caption" style="color: #fff; font-size: 20px; font-weight: normal">Account Status</span></label>
                    <br />
                    <br />
                </legend>
            </fieldset>
            <table class="table" style="color: #fff; margin-bottom: 0">
                <tr>
                    <td style="border-top: 0; padding: 2px; white-space: nowrap;">Tax Liability</td>
                    <td style="border-top: 0; padding: 2px; padding-right: 15px; text-align: right">25000</td>
                    <td style="border-top: 0; padding: 2px; white-space: nowrap;">Credit Ledger</td>
                    <td style="border-top: 0; padding: 2px; padding-right: 55px; text-align: right">10000</td>
                   
                </tr>
                <tr>
                    <td style="border-top: 0; padding: 2px; white-space: nowrap;">Cash Ledger</td>
                    <td style="border-top: 0; padding: 2px; padding-right: 15px; text-align: right">1600</td>
                    <td style="border-top: 0; padding: 2px">&nbsp;</td>
                    <td style="border-top: 0; padding: 2px; text-align: right">&nbsp;</td>
                </tr>
            </table>
        </div>

    </div>
</div>
