<div class="dx-viewport" data-ng-controller="CtrRegForm10D">
    <div class="demo-container">
        <div class="longTitle">
            <h3></h3>
        </div>
        <div id="form-container">
            <div id="form" data-dx-form="formOptions">
                <div data-options="dxTemplate: { name: 'DigitalSignature' }">
                   
                        <div class="row">
                            <div class="col-sm-12"> 
                                <fieldset>
                                    <legend class="CustomLegend">
                                        <label><span class="dx-form-group-caption">List Of Documents</span></label>
                                        <br />
                                       <br />
                                    </legend>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="file" id="input002" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                    <div class="bootstrap-filestyle input-group">
                                        <input type="text" class="form-control " placeholder="Aadhar Card" disabled="">
                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="input002" class="btn btn-default ">
                                                <span class="icon-span-filestyle glyphicon glyphicon-paperclip"></span>
                                                <span class="buttonText"></span>
                                            </label>
                                        </span>
                                    </div>
                                    <input type="file" id="input003" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                    <div class="bootstrap-filestyle input-group">
                                        <input type="text" class="form-control " placeholder="PAN" disabled="">
                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="input003" class="btn btn-default ">
                                                <span class="icon-span-filestyle glyphicon glyphicon-paperclip"></span>
                                                <span class="buttonText"></span>
                                            </label>
                                        </span>
                                    </div>
                                    <input type="file" id="input004" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                    <div class="bootstrap-filestyle input-group">
                                        <input type="text" class="form-control " placeholder="Director Identification No" disabled="">
                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="input004" class="btn btn-default ">
                                                <span class="icon-span-filestyle glyphicon glyphicon-paperclip"></span>
                                                <span class="buttonText"></span>
                                            </label>
                                        </span>
                                    </div>
                                    <input type="file" id="input005" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                    <div class="bootstrap-filestyle input-group">
                                        <input type="text" class="form-control " placeholder="Passport" disabled="">
                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="input005" class="btn btn-default ">
                                                <span class="icon-span-filestyle glyphicon glyphicon-paperclip"></span>
                                                <span class="buttonText"></span>
                                            </label>
                                        </span>
                                    </div>
                                    <input type="file" id="input006" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                    <div class="bootstrap-filestyle input-group">
                                        <input type="text" class="form-control " placeholder="Other" disabled="">
                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="input006" class="btn btn-default ">
                                                <span class="icon-span-filestyle glyphicon glyphicon-paperclip"></span>
                                                <span class="buttonText"></span>
                                            </label>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend class="CustomLegend">
                                        <label><span class="dx-form-group-caption">Declaration</span></label>
                                         <br />
                                       <br />
                                    </legend>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    I, hereby solemnly affirm and declare that the information given herein above is true and correct to the best of my knowledge and belief and nothing has been
                                    <br />
                                    concealed therefrom.
                                    <br />
                                    <br />
                                </p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <fieldset>
                                    <legend class="CustomLegend">
                                        <label><span class="dx-form-group-caption">Digital Signature</span></label>
                                         <br />
                                       <br />
                                    </legend>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="file" id="input001" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                    <div class="bootstrap-filestyle input-group">
                                        <input type="text" class="form-control " placeholder="Attach your Digital Signature here" disabled="">
                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="input001" class="btn btn-default ">
                                                <span class="icon-span-filestyle glyphicon glyphicon-paperclip"></span>
                                                <span class="buttonText"></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="LegalNameAsperState">Name</label>
                                    <div dx-text-box="{
                                            placeholder: 'Name',
                                            maxLength: 10,
                                           
                                        }"></div>
                                    
                                </div>
                            </div>

                            <div class="col-md-2 ">
                                <div class="form-group">
                                    <label for="lblTradeName">Designation</label>
                                     <div dx-text-box="{
                                            placeholder: 'Designation',
                                            maxLength: 10,
                                           
                                        }"></div>
                                   
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="Validationlbl">Place</label>
                                    <div dx-text-box="{
                                            placeholder: 'Place',
                                            maxLength: 10,
                                        }"></div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="Authenticationlbl">Date</label>
                                    <div dx-date-box="{width:'100%'}"></div>
                                </div>
                            </div>
                        </div>

               
                </div>
            </div>
        </div>

    </div>
</div>