<style>
    .CustomLegend
    {
        margin-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 20px;
        padding: 0 0 5px 0;
        font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
        font-weight: normal;
    }
</style>
<div class="dx-viewport" data-ng-controller="RegForm1B">
    <div class="demo-container">
        <div class="longTitle">
            <h3></h3>
        </div>
        <div id="form-container">
            <div id="form" data-dx-form="formOptions">
             <!--   <div data-options="dxTemplate: { name: 'TemplateForm01B' }">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <legend class="CustomLegend">
                                        <label>Business Details</label>
                                    </legend>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="LegalNameAsperState">Trade Name</label>
                                    <input type="text" class="form-control" id="Text68" placeholder="Legal Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="state">Constitution of Business</label>
                                        <select class="form-control">
                                            <option>Select Constitution of Business</option>
                                            <option>Proprietorship</option>
                                            <option>Partnership</option>
                                            <option>Hindu Undivided Family</option>
                                            <option>Public Limited Company</option>
                                            <option>Private Limited Company</option>
                                            <option>Government Department</option>
                                            <option>Public Sector Undertaking</option>
                                            <option>Society/Club/Trust/Association of Person</option>
                                            <option>Unlimited Company</option>
                                            <option>Local Authority</option>
                                            <option>Limited Liability Partnership</option>
                                            <option>Statutory Body</option>
                                            <option>Foreign Limited Liability Partnership</option>
                                            <option>Foreign Company Registred(In India)</option>
                                            <option>Others</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>
                                        <label>Address Details</label>
                                    </legend>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <select class="form-control">
                                        <option>Select State</option>
                                        <option>Maharashtra</option>
                                        <option>Punjab</option>
                                        <option>Madhya Pradesh</option>
                                        <option>Uttar Pradesh</option>
                                        <option>Harayana</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Authenticationlbl">City / District</label>
                                    <input type="text" class="form-control" id="Text11" placeholder="City / District" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Authenticationlbl">Sector/Circle/Ward</label>
                                    <input type="text" class="form-control" id="Text1" placeholder="City / District" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="state">Center of Juridiction</label>
                                    <select class="form-control">
                                        <option>Select State</option>
                                        <option>Maharashtra</option>
                                        <option>Punjab</option>
                                        <option>Madhya Pradesh</option>
                                        <option>Uttar Pradesh</option>
                                        <option>Harayana</option>
                                    </select>
                                </div>

                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default btn-sm">Next>></button>
                            </div>

                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
