  <div class="pull-left pageTitle">{{PageHeader}}<span>Previous invoices</span></div> 
<div style="clear: both"></div>
<div class="dx-viewport">
    <div class="demo-container">
        <div id="form-container">
            <div class="row" style="margin: 0;">
                <div class="col-md-12">
                    <div id="form" dx-form="formOptions"/>

                    <!--<fieldset>
       <legend class="CustomLegend">
          <span class="dx-form-group-caption">{{PageHeader}} Previous invoices</span>
       </legend>
  </fieldset>-->
                   <!-- <div style="float: right" dx-button="{
    text: 'Add new',icon:'plus',
    onClick: gotoGSTR1
}">
                    </div>-->
                    <!--<br />
                    <div style="padding-left:10px;" dx-list="listOptions" dx-item-alias="iMonth">
                        <div data-options="dxTemplate:{ name:'item' }">
                            <p style="font-size: larger;">{{iMonth}}</p>
                            <hr style="margin-bottom: 0px;" />
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
